<table bgcolor="#FBFAFB" style="color:#2e0563;margin: 0  auto;padding: 2px;">
    <tbody>
        <tr>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Id Cabecera</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">N&uacute;mero de  registro</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Nombre de  archivo</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Nombre de  columna</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Valor ingresado</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Descripci&oacute;n  de error</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Nombre de usuario</td>
        </tr>
     
            [TramaError]
        
    </tbody>
</table>