<table bgcolor="#FBFAFB" style="color:#2e0563;margin: 0  auto;padding: 2px;">
    <tbody>
        <tr>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Id Cabecera</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">N&uacute;mero de  registro</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">Nombre de  archivo</td>

            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">NIDDOC_TYPE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SIDDOC</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SFIRSTNAME</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SLASTNAME</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SLASTNAME2</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SLEGALNAME</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SSEXCLIEN</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">NCIVILSTA</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">NNATIONALITY</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">DBIRTHDAT</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">ADDRESSTYPE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">STI_DIRE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SNOM_DIRECCION</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SNUM_DIRECCION</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">STI_BLOCKCHALET</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SBLOCKCHALET</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">STI_INTERIOR</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SNUM_INTERIOR</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">STI_CJHT</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SNOM_CJHT</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SETAPA</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SMANZANA</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SLOTE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SREFERENCIA</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">NMUNICIPALITY</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">NCOUNTRY</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">NAREA_CODE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">NPHONE_TYPE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SPHONE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SEMAILTYPE</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SE_MAIL</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">COD_CIIU</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">COD_CUSPP</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SISCLIENT_IND</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SBAJAMAIL_IND</td>
            <td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SISCLIENT_GBD</td>
            <!--<td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SPROMOTIONS</td>-->
            <!--<td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SDATACONSENT</td>-->
            <!--<td style="border:1px solid black !important;text-align:center;vertical-align:middle;font-weight: bold;">SCLIENTGOB</td>-->
        </tr>

        [TramaExitosa]

    </tbody>
</table>